/* FONTS */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
        url("../fonts/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
        url("../fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
        url("../fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
        url("../fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM-PROPS */
:root {
    --background-color: #e7e7e7;
    --text-color: #000;
    --input-color: #555;
    --green-color: #4dc490;
    --purple-color: #655af2;
    --danger-color: #f03535;
}

/* GLOBAL */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", "Arial", sans-serif;
    background-color: var(--background-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1192px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}