/* FONTS */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
        url("../fonts/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
        url("../fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
        url("../fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
        url("../fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM-PROPS */
:root {
    --background-color: #e7e7e7;
    --text-color: #000;
    --input-color: #555;
    --green-color: #4dc490;
    --purple-color: #655af2;
    --danger-color: #f03535;
}

/* GLOBAL */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", "Arial", sans-serif;
    background-color: var(--background-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1192px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
    padding-top: 80px;
    padding-bottom: 80px;
}


/* INTRO-HERO */
.intro-hero {
    width: 570px;
    border-radius: 20px;
    overflow: hidden;
    color: #fff;
    background-color: #222;
    background-image: url("../img/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.intro-hero-main {
    padding: 55px 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}

.intro-hero-badge {
    padding: 5px 15px;
    border-radius: 42px;
    border: 1px solid #fff;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    display: inline-block;
}

.intro-hero-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
}

.intro-hero-pragraph {
    margin: 0;
    line-height: 26px;
}

.intro-hero-bottom {
    padding: 28px;
    font-size: 19px;
    text-align: center;
    background-color: var(--green-color);
}